{% extends "::base.html.twig" %}

{% block title %}Show Charts{% endblock %}
{% block stylesheets %}
{% set contnr_height = ((graph.maximum / graph.xInterval) * 100) + 50 %}
{% set measure_height = ((graph.maximum / graph.xInterval) * 100) %}
{% set contnr_width = (graph.timelines|length * 52) + (graph.grouping * 20) + 150 %}
{% set contnr_bottom_margin = graph.xLabelHeight + 100 %}
{% include 'templates/css.html.twig' %}
{% endblock %}

{% block body %}

    <div class="modal modal-success fade" id="page_modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Graph Details</h4>
          </div>
          <div class="modal-body">
            <div class="row">
            {% include 'templates/charts_menu.html.twig' %}
            {# start table bar graph #}
            <div class="col-md-9">
            <div style="margin-left:50px; margin-bottom:100px; height:100%;">
            <h4>{{graph.title}}</h4>
              <div id="key_div">
                <div style="float:left; margin-right: 100px;"><span style="margin-top:-2px; white-space: nowrap; font-weight:bold;" >{{ graph.yAxisTitle }}:</span></div><br />             
                {% for timeline in timelines %}
                  {% if graph.grouping != 0 and loop.index0 < graph.grouping %}
                  <div class="circle" style="background-color:{{timeline.color}}; float:left; margin-right: 100px;"><p style="padding-left:35px; margin-top:-2px; white-space: nowrap;" >{{timeline.description|replace({'[': "", ']': "", '6': ""})}}</p></div>
                  {% elseif graph.grouping == 0 %}
                  <div class="circle" style="background-color:{{timeline.color}}; float:left; margin-right: 100px;"><p style="padding-left:35px; margin-top:-2px; white-space: nowrap;" >{{timeline.description|replace({'[': "", ']': "", '6': ""})}}</p></div>
                  {% endif %}
                {% endfor %}
              </div>
              <table id="q-graph">

              <tbody>
              {% set move = 2 %}
              {% set left = 0 %}
                {% for timeline in timelines %}
                  {% if graph.grouping != 0 and loop.index is divisible by(graph.grouping) %}    
                    <tr class="qtr" style="left:{{left}}px; border-right: 1px dotted #C4C4C4; width:80px">
                  {% else %}
                    <tr class="qtr" style="left:{{left}}px;">
                  {% endif %}
                  <th class="rotate" style="width:0px; bottom:-{{graph.xLabelHeight}}px; left:20px;" scope="row"><p>{{timeline.description}}</p></th>
                  {# the bars for the graph #}
                  {% set relative_height = timeline.figure / graph.xInterval * 100 %}
                  <td class="sent bar" style="left:{{move}}px!important; height:{{relative_height}}px; background-color: {{timeline.color}};"><p>{{timeline.figure}}</p></td>
                  {# divide into groups if settings demand #}
                  {% if graph.grouping != 0 and loop.index is divisible by(graph.grouping) %}
                    {% set move =  2 %}
                    {% set left = left + 90 %}
                  {% else %}
                    {% set move = move + 2 %}
                    {% set left = left + 62 %}
                  {% endif %}
                  </tr>
                {% endfor %}  
              </tbody>
              </table>

              <div id="ticks">
                {% set interval = graph.xInterval %}
                {% set steps = graph.maximum / interval %}
                <div class="tick" style="height: 40px; border-top: none; margin-top:-40px"><p>{{graph.xAxisTitle}}</p></div>
                {% for i in steps..0 %}
                    {% set point = graph.xInterval * i %}
                    {% set point_mark = (100 * i)-57 %}
                    <div class="tick" style="height: 100px;{% if i == 0 %} border-bottom: none; {% endif %}"><p>{{point}}</p></div>
                {% endfor %}                  
              </div>
            </div>
          </div>
          </div>{# end row class #}
            {# end table bar graph #}

          </div>
          <div class="modal-footer">
            {% include 'templates/advert.html.twig' %}
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>    

{% endblock %}
{% block javascripts %}
{% endblock %}	
